<div class="row align-items-center justify-content-center">
  <div class="col-10 col-md-8 pet-form">
    <div class="row text-right mt-4">
      <div class="col-12">
        <%= link_to pets_path do%>
          <i class="fas fa-times-circle fa-3x btn-close"></i>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center form-area">
      <div class="col-md-8">
        <h3 class="form-title">ペットを登録してください</h3>
        <%= render 'layouts/error_messages', model: @pet %>

        <%= form_with model: @pet, url: pets_path, local: true do |f| %>
          <div class="form-group">
            <div class="field pb-3">
              <%= f.text_field :name, autofocus: true, placeholder: "なまえ", class:"form-control" %>
            </div>
          </div>
          <div class="field pb-3">
            <div>
            <%= attachment_image_tag @pet, :pet_image, src: "", id: "img-prev", size: "200x200", alt:"Image preview", class: "item_prev rounded-circle mb-4", fallback: "no_image_pet.svg", :size =>'200x200' %>
            </div>
            <div>
              <%= f.attachment_field :pet_image, id: "post_img" %>
            </div>
          </div>

          <div class="field">
            <%= f.submit "登録する", class:"btn btn-lg btn-pet" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
