<div class="row justify-content-center">
  <div class="col-12 user-content">
    <div class="row">
      <div class="col-12 col-md-4 mr-2 mb-3">
        <div class="row">
          <div class="col-12">
            <%= attachment_image_tag(@user, :profile_image, :fill, 180, 180, format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg",:size =>'180x180') %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 my-3">
            <div class="row justify-content-center">
              <h3 class="col-3">name： </h3>
              <h3 class="col-6 text-left"><%= @user.name %></h3>
            </div>
            <div class="row justify-content-center">
              <h3 class="col-3">email： </h3>
              <h3 class="col-6 text-left"><%= @user.email %></h3>
            </div>
          </div>
        </div>
        <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn-info btn-lg mt-3" %>
      </div>

      <div class="col-12 col-md-7 user-info">
        <div class="row">
        <table class="table">
          <tbody>
            <tr>
              <th>トピック作成数</th>
              <td><%= @topics.count %></td>
            </tr>
            <tr>
              <th>コメント作成数</th>
              <td><%= @comments.count %></td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="row">
          <div class="row align-items-center my-3">
            <div class="col-7">
              <h3 class="my-4">ペット登録状況</h3>
            </div>
            <div class="col-5 text-left">
              <%= link_to "ペットを登録する", new_pet_path, class:"btn btn-info btn-md" %>
            </div>
          </div>
          <% @pets.each do |pet| %>
            <div class="col-12 mb-3">
              <div class="row align-items-center  justify-content-center">
                <div class="col-1 mr-3">
                  <%= attachment_image_tag(pet, :pet_image, :fill, 120, 120, format: 'jpeg', class: "rounded-circle", fallback: "no_image_pet.svg",:size =>'50x50') %>
                </div>
                <div class="col-3">
                  <h5 class="text-center"><%= pet.name %></h5>
                </div>
                <div class="col-6">
                  <%= link_to "編集", edit_pet_path(pet.id), class: "btn btn-outline-info mr-3"%>
                  <%= link_to "削除", pet_path(pet.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger"%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
