<div class="row">
  <div class="col-12 record-form">
    <%= form_with model: @record, url: pet_record_path(@pet,@record) do |f| %>
    <%= f.hidden_field :content_type, value: 0 %>
      <div class="row">
        <div class="col-5">通院日に設定する</div>
        <div class="col-7"><%= link_to "病院を選択", hospitals_path %></div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <%= f.text_area :history, class: 'form-control', rows: 10, placeholder: "メモを入力", autofocus: true %>
        </div>
      </div>
      <div class="row float-right mt-3">
        <div class="col">
        <%= f.submit "保存", class: "btn btn-info btn-record" %>
        <% end %>
        </div>
      </div>

  </div>
</div>