<div class="row align-items-center">

  <div class="col">
  </div>
  <div class="col-10 record-content">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#life" class="nav-link active" data-toggle="tab">体調</a>
      </li>
      <li class="nav-item">
        <a href="#history" class="nav-link" data-toggle="tab">通院</a>
      </li>
    </ul>
    <!-- タブ式入力フォーム -->
    <%= form_with model: @record, url: pet_record_path(@pet,@record) do |f| %>
    <div class="tab-content">
      <!--日常記録タブ-->
      <div id="life" class="tab-pane active">
        <div class="row">
          <div class="col-12 record-form">
              <div class="row">
                <div class="col-12">
                <%= f.text_area :memo, class: 'form-control', rows: 15, placeholder: "メモを入力", autofocus: true %>
                </div>
              </div>
              <%= f.attachment_field :record_image %>
          </div>
        </div>
      </div>
      <!--通院履歴記録タブ-->
      <div id="history" class="tab-pane">
        <div class="row">
          <div class="col-12 record-form">
          <%= f.hidden_field :content_type, value: 0 %>
          <div class="row">
            <div class="col-5">通院日に設定する</div>
            <div class="col-7">
            <!---- 病院選択モーダル ----->
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#hospital">
              病院を選択
              </button>
               <!-- モーダルウィンドウ外枠 -->
              <div class="modal" id="hospital" tabindex="-1" role="dialog" aria-labelledby="hospitalModalLabel" aria-hidden="true">
                <!-- モーダルのダイアログ本体 -->
                <div class="modal-dialog modal-lg" role="document">
                <!-- モーダルのダイアログ本体 -->
                  <div class="modal-content">
                    <!-- モーダルのヘッダー -->
                    <div class="modal-header">
                      <!-- モーダルのタイトル -->
                      <h5 class="modal-title" id="hospitalModalLabel">病院を選択してください</h5>
                      <!-- 閉じるアイコン -->
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- モーダル本文 -->
                    <div class="modal-body">
                      <% @hospitals.each do |hospital| %>
                      <div class="row align-items-center hospital-list">
                        <div class="col-4">
                          <%= f.radio_button :hospital_id, hospital.id %>
                          <%#= f.hidden_field :hospital_id, :value => hospital.id %>
                        <h5><%= hospital.name %></h5>
                        </div>
                        <div class="col-8">
                          <p class="addr text-left">所在地：
                          〒<%= hospital.postcode.to_s + hospital.prefecture_name + hospital.address_city + hospital.address_street %><br>
                           電話：<%= hospital.phone %></p>
                          </p>
                        </div>
                      </div>
                      <% end %>
                      <%#= render 'records/hospital', hospitals: @hospitals, pet: @pet, record: @record %>
                    </div>
                    <!-- モーダルフッター -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <%= @record.hospital_id  %>
        <!-- 履歴入力フォームー -->
        <div class="row mt-3">
          <div class="col-12">
            <%= f.text_area :history, class: 'form-control', rows: 10, placeholder: "メモを入力", autofocus: true %>
          </div>
        </div>
      </div>
    </div>
    <!-- タブ式入力フォーム -->
  </div>
  <!-- 記録フォームここまで -->
  <div class="row float-right align-items-center mt-3">
    <div class="col">
      <%= f.submit "保存", class: "btn btn-info btn-record" %>
    <% end %>
    </div>
  </div>
  <div class="col">
  </div>

</div>

