<div class="row align-items-center">
  <div class="col">
  </div>
  <div class="col-12 hopsital-content">
    <div class="row text-right mt-4">
      <div class=col-12>
        <%=link_to edit_pet_record_path(@pet,@record) do %>
        <i class="fas fa-times-circle fa-3x btn-close"></i>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
      </div>
      <div class="col-10">
        <h3 class="title-text">病院検索</h3>
        <div class="form-row justify-content-center align-items-center search-area">
            <div class="col-auto">
            <%= form_with url: search_search_pet_record_path(@pet,@record), method: :get ,local: true do |f| %>
              <%= f.collection_select :prefecute_name, JpPrefecture::Prefecture.all, :name, :name, include_blank: "選択してください" %>
            </div>
            <div class="col-auto">
              <%= f.text_field :search, placeholder:"病院名", class:"form-control" %>
            </div>
            <div class="col-auto">
              <%= f.submit '探す', :name => nil, data: {"turbolinks" => false} %>
            </div>
            <% end %>
        </div>

        <%= form_with url: edit_pet_record_path(@pet,@record), method: :get ,local: true do |f| %>
            <% @hospitals.each do |hospital| %>
              <div class="row align-items-center hospital-list">
                <div class="col-4">
                <h5><%= f.radio_button :hospital_id, hospital.id %>
                <%= hospital.name %></h5>
                </div>
                <div class="col-8">
                  <p class="addr text-left">所在地：
                  〒<%= hospital.postcode.to_s + hospital.prefecture_name + hospital.address_city + hospital.address_street %><br>
                   電話：<%= hospital.phone %></p>
                </div>
              </div>
            <% end %>
            <div class="row justify-content-center mt-3">
              <div class="col">
            <%= f.submit "決定", class: "pull-right", class: "btn-hospital" %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>



