<!DOCTYPE html>
<html>
  <head>
    <title>RecoPets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'header' %>

  <main>
    <section id="mv">
    <!--<div class= "jumbotron">-->
      <div class= "container key-visual">
        <h1 class= "display-4 catch">Living friendly to pets</h1>
        <p class="my-4 head-text">
          ペットを飼うすべての方へ<br>
          一緒に過ごす毎日をより楽しく快適なものにしてほしい<br>
          そんな想いをこめたアプリです
        </p>
        <%= link_to 'はじめる »', new_user_registration_path, class: "btn btn-info btn-lg" %>
      </div>
    <!--</div>-->
    </section>
    <div class="container pt-5">
      <div class="row justify-content-center py-5">
        <h1 class="service-content">Service</h1>
      </div>
      <div class="row py-2">
        <div class="col-12 col-md-4 text-center py-5">
          <i class="fas fa-book-medical fa-5x"></i>
          <h2 class="my-4">Record</h2>
          <p>ペットの体調・通院内容など<br>
            カレンダー形式で毎日いつでも簡単に<br>
            記録ができます
          </p>
        </div>
        <div class="col-12 col-md-4 text-center py-5">
          <i class="fab fa-stack-overflow fa-5x"></i>
          <h2 class="my-4">Stock</h2>
          <p>ペットの消耗品の残量を管理<br>
            名前と何日もつかを入力するだけで<br>
            買い漏れを防ぎます
          </p>
        </div>
        <div class="col-12 col-md-4 text-center py-5">
          <i class="fas fa-comments fa-5x"></i>
          <h2 class="my-4">Board</h2>
          <p>初めてのことや病気、ケガなど<br>
            ペットの日常生活で悩んだときは<br>
            掲示板で仲間と情報交換をしましょう
          </p>
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-5">
      <%= link_to 'もっと詳しく »', homes_about_path, class: "btn btn-outline-info btn-lg" %>
      </div>
    </div>
  </main>
  <%= render 'footer' %>
  </body>
</html>

