<!DOCTYPE html>
<html>
  <head>
    <title>RecoPets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col no-gutters">
        <%= image_tag('top2.jpg', class: "top-img img-fluid") %>
      </div>
    </div>
  </body>

</html>



