<div class="row align-items-center justify-content-center">
  <div class="col-md-8 item-edit">
    <div class="row my-4 justify-content-center">
      <div class="col-md-8">
        <h3 class="mb-5">アイテム編集</h3>
        <%= render 'layouts/error_messages', model: @item %>
        <%= form_with model: @item, method: :patch, local: true do |f| %>
        <div class = "form-row">
          <div class="col-12">
            <%= f.label :name, "商品名を入力してください" %>
            <%= f.text_area :name, class: 'form-control', rows: 1, placeholder: "商品名を入力", autofocus: true %>
          </div>
        </div>
        <div class = "form-row">
          <div class="col-12 mt-4">
            <%= f.label :days, "大体何日くらいもちますか？" %>
            <%= f.text_area :days, class: 'form-control', rows:1, placeholder: "日数を入力" %>
          </div>
        </div>
        <div class = "form-row">
          <div class="col-12 mt-4">
            <%= f.label :amount, "残りはあとどのくらいですか？" %>
            <%= f.text_area :amount, class: 'form-control', rows: 1, placeholder: "％で入力", value: @item.remaining_per %>
          </div>
        </div>
        <%= f.submit "登録", class: "btn btn-info btn-block mt-4"%>
        <% end %>
      </div>
    </div>
  </div>
</div>