<!DOCTYPE html>
<html>
  <head>
    <title>RecoPets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'header' %>
    <div class="container mt-3">
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
