<!DOCTYPE html>
<html>
  <head>
    <title>RecoPets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
      <%= render 'header' %>
      <div class="container my-3">
        <% if flash[:success] %>
          <div class="flash">
            <%= flash[:success] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'footer' %>
    </div>
  </body>
</html>
